/* ==========================================================================
   HungryVovka's style
   ========================================================================== */

/* Styles for the listed page elements. */
html,
body,
div,
span,
h1,
h2,
h3,
p,
pre,
a,
address,
code,
img,
strong,
ul,
li,
footer,
header,
nav,
section {
   margin: 0;
   padding: 0;
   border: 0;
   font-size: 100%;
   vertical-align: baseline;
}

footer, 
header, 
nav, 
section {
   display: block;
}

/* Single styles for elements. */
body {
   min-width: 320px;
   line-height: 1.2;
}

footer{
   display: flex;
   justify-content: space-between;
   padding: 10px;   
   font-family: Cambria, Book Antiqua, sans-serif;
   color: #000000;
   background-color: var(--maincolr);
}

header {
   display: flex;
   flex-wrap: wrap;
   background-color: var(--maincolr);
   border-radius: 5px 5px 0 0;
}

ul {
   padding-left: 22px;
   list-style: square;
}

/* A parameter that will match all elements on the page. */
* {
   box-sizing: border-box;
}

/* Pseudo-class :root and setting the main color of the page. */
:root {
   --maincolr: #99951a;
}

/* Customizing class styles. */
.allinfo {
   border-radius: 3px;
   box-shadow: 5px -5px 10px rgba(0, 0, 0, 0.4);
   display: flex;
   flex-direction: column;
   max-width: 1200px;
   min-height: 100%;
   margin: 10px auto;
}

.copyright {
   padding-top: 16px;
   font-size: 18px;
}

.git {
   background-image: url(../img/github.png);
   background-size: 50px 50px;
   background-repeat: no-repeat;
   margin-left: 20px;
   padding-top: 12px;
   padding-left: 60px;
}

.git a {
   color: black;
   font-size: 26px;
   text-decoration: none;
}

.major {
   display: flex;
   flex: 1 1 auto;
   flex-wrap: wrap;
   font-family: Cambria, Book Antiqua, sans-serif;
}

.major li {
   list-style-type: none;
   padding-top: 5px;
}

.major section {
   border-bottom: 1px solid var(--maincolr);
   max-width: 580px;
   min-height: 200px;
   margin: 10px;   
   width: calc(50% - 20px);
}

.major section h2 {
   color: var(--maincolr);
   letter-spacing: 10px;
   padding: 15px 0 5px 20px;
   text-transform: uppercase;
   word-spacing: 15px; 
}

.major ul {
   list-style-type: circle;
   margin: 5px 0 0 30px;
}

.my-job {
   letter-spacing: 9px;
   padding: 10px 10px 0 10px;
   word-spacing: 18px;   
}

.my-job h3 {
   font-size: 15px;
   font-weight: 400;
}

.my-links{
   margin: 20px auto 20px auto;
   text-decoration: none;
   width: 450px;
}

.my-links a{
   text-decoration: none;
}

.my-name {   
   border-bottom: #FFFFFF solid 2px;
   letter-spacing: 6px;
   padding: 50px 20px 5px 20px; 
   word-spacing: 15px; 
}

.my-name h1 {
   font-size: 30px;
   font-weight: 600;
   text-transform: uppercase;
}

.my-title {
   color: #FFFFFF;
   font-family: Verdana, Garamond, Trebuchet MS, sans-serif;
   max-width: 960px;
   margin: 10px auto;
   text-align: center;
}

ul.navigation  {
   padding: 0 5px 10px 0;
   margin-left: 0;
   margin-top: 10px;   
   font-family: Verdana, Garamond, Trebuchet MS, sans-serif;
   font-size: 18px;
   text-align: right;
   list-style: none;
   border-bottom: 5px solid var(--maincolr);   
}

.navigation li {
   display: inline;
   margin-right: 5px;
   margin-left: 15px;   
}

.navigation a {
   display: inline-block;
   text-decoration: none;
   color: var(--maincolr);
}

.navigation a:hover {
   color: #b0ab20;
}

.page-footer {
   display: flex;
}

.pic {
   min-width: 200px;
   min-height: 200px;
   margin: 10px 20px;
}

.pic img {
   border: var(--maincolr) solid 1px;
   border-radius: 100px;
}

.rs-school img {
   height: 50px;
}

/* Setting styles by ID selector */
#about-me p,
#code pre {
   margin: 10px 30px;
   padding-top: 5px;
}

#code pre {
   font-size: 11px;
}

/* Using media expressions for different types of devices. */
@media (max-width: 810px) {
   header {   
      flex-direction: column;
   }

   .pic {
      margin: 9px auto;
   }

   .my-name {
      letter-spacing: 5px;
      padding: 20px 20px 10px 20px;
   }
   
   .my-job {
      letter-spacing: 9px;
      word-spacing: 15px;
   }
}

@media (max-width: 744px) {
   .major {
      flex-direction: column;
   }

   .major section {
      margin: 9px 45px;
      width: calc(100% - 200px);
   }

   .copyright {
      padding-top: 10px;
      font-size: 10px;
   }

   .git {
      background-size: 30px 30px;
      padding-left: 50px;
      padding-top: 5px;
   }

   .git a {
      font-size: 20px;
   }
   
   .rs-school img {
      height: 45px;
   }
}

@media (max-width: 654px) {
   ul.navigation {
      text-align: center;
   }
}

@media (max-width: 400px) {
   footer {
      align-items: center;
      flex-direction: column;
   }

   .git {
      height: 30px;
   }

   .rs-school {
      margin-top: 10px;
   }
}

/* That's all for now. */
