/* Reset and base styles  */
*,
*::before,
*::after {
	padding: 0px;
	margin: 0px;
	border: none;
	box-sizing: border-box;
}

/* Links */

a, a:visited  {
    color: inherit;
    text-decoration: none;
}

a:hover  {
    color: inherit;
    text-decoration: none;
}

a:focus,
a:active {
	outline: none;
}

/* Common */

aside, nav, footer, header, section, main {
	display: block;
}

h1, h2, h3, h4, h5, h6, p {
    font-size: inherit;
	font-weight: inherit;
	line-height: inherit;
}

p + p {
	margin-top: 1em;
}

ul {
	list-style: none;
}

img, svg {
	vertical-align: top;
	max-width: 100%;
	height: auto;
}

/* Form */

input, textarea, button, select {
	font-family: inherit;
    font-size: inherit;
}

input::-ms-clear {
	display: none;
}

button, input[type="submit"] {
    display: inline-block;
    box-shadow: none;
    background-color: transparent;
    background: none;
    cursor: pointer;
}

input:focus, input:active,
button:focus, button:active {
    outline: none;
}

button::-moz-focus-inner {
	padding: 0;
	border: 0;
}

label {
	cursor: pointer;
}

legend {
	display: block;
}

html, body{width:100%; height:100%; overflow-x:hidden}

html{
    box-sizing: border-box;
}

*, *::before, *::after{
    box-sizing: inherit;
}

body, html {
    width:100%;
    height:auto;
    min-height:100%;
    margin: 0px;
    padding: 0px;
}
    
body {
    background-image: url(../img/png/lake.png);
    background-repeat: no-repeat;
    background-position: bottom;
}

.wrapper{
	width: 1440px;
    max-width: 1440px;
	padding-left: 15px;
	padding-right: 15px;
	margin-left: auto;
	margin-right: auto;
}

/* Header styles start */

.btn,
a.btn {
	display: inline-block;

	/* height: 51px;
	line-height: 51px; */

	min-height: 51px;
	display: flex;
	justify-content: center;
	align-items: center;
	line-height: 1;

	padding-left: 50px;
	padding-right: 50px;
	background-color: #0D606F;
	color: #fff;
	font-size: 20px;
	font-weight: 400;
	border-radius: 4px;
	transition: opacity 0.2s ease;
}

.btn:hover,
a.btn:hover {
    background: #022c33;
}

.header{
	background: rgba(242, 120, 92, 0.7);
    height: 90px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 120px;
    box-shadow: 0 4px 4px 0 rgba(242, 120, 92, 0.7);
	border-bottom: 1px solid rgba(242, 120, 92, 0.7);
    box-sizing: border-box;
	line-height: 1;
    filter: alpha(Opacity=70);
    position: relative;
    z-index: 1;
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
}

.header__login {
	display: flex;
	align-items: center;
	margin-left: auto;
    font-family: 'Red Hat Text', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
}

.header__login > * + * {
	margin-left: 35px;
}

.header__logo-text{
    font-family: "Magra", sans-serif;
    font-style: normal;
    font-size: 32px;
    font-weight: 600;
    color: #FFFFFF;
    line-height: 39px;
    margin-left: 9px;
    display: table-cell;
    vertical-align: bottom;
}

.header__nav {
	margin-left: 100px;
	font-weight: 500;
	color: #FFFFFF;
    font-family: 'Red Hat Text', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
}

.header__nav ul {
	display: flex;
}

.header__nav li + li {
	margin-left: 70px;
}

.header__nav a {
	transition: color 0.2s ease;
}

.header__nav a:hover {
	color: #8d6025;
}

.header__row {
	display: flex;
	align-items: center;
}

/* Header styles end */

/* Intro styles start */

.main {
    position: relative;
    top: -90px;
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
}

.preview{
    min-height: 100vh;
    background: url(../img/png/intro-bg.png) center;
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 135px;
}

.intro__title{
    font-family: 'Aleo';
    font-style: normal;
    font-weight: 700;
    font-size: 80px;
    line-height: 96px;
    color: #FFFFFF;
    width: 892px;
    max-width: 800px;
    margin-left: 120px;
    top: 154px;
    margin-bottom: 46px;
}

.intro__subtitle{
    top: 70px;
    color: #fff;
    font-family: 'Aleo';
    font-style: italic;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 46px;
    margin-left: 120px;
}

.search-form{
    top: 46px;
    position: relative;
    width: 1012px;
    height: 95px;
    background: rgba(255, 255, 255, 0.7);
    border-radius: 16px;
    margin-left: 120px;
}

.search-form__field{
    position: relative;
    width: 560px;
    height: 22px;
    background-color: transparent;
    border: 0;
    margin-right: 77px;
    font-family: 'Aleo';
    font-style: italic;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    color: #F2785C;
    top: 32px;
    margin-left: 41px;
    bottom: 41px;
}

.search-form__field::placeholder {
    font-family: 'Aleo';
    font-style: italic;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    color: #F2785C;
  }

.search-form__submit{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 32px;
    gap: 10px;
    background: #0D606F;
    box-shadow: 0px 0px 3px rgba(13, 96, 111, 0.08), 0px 2px 3px rgba(13, 96, 111, 0.16);
    border-radius: 10px;
    position: relative;
    width: 228px;
    left: 766px;
    font-family: 'Red Hat Text';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
    color: #FFFFFF;
}

.search-form__submit:hover, .search-form__submit:focus, .search-form__submit:active{
    background: #022c33;
}

/* Intro styles end */

/* Steps styles start */
.steps__wrap{
    background-color: #fff;
    margin: 0 auto;
    left: 0px;
    top: 90px;
    position: relative;
    max-width: 1288px;
}

.steps__title{
    height: 53px;
    left: 344px;
    top: calc(50% - 53px/2 - 97px);
    position: relative;
    font-family: 'Red Hat Text';
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 53px;
    color: #F2785C;
}

.steps__cards{
    height: 40px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 0 80px;
    position: relative;
}

.steps-box{
    position: relative;
    width: 1177px;
    height: 154px;
    left: -40px;
    top: 93px;
}

.steps__cards-pic-1{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 28px 25px 27px 25px;
    gap: 10px;
    background: #F2785C;
    box-shadow: 0px 0px 3px rgba(242, 120, 92, 0.08), 0px 2px 3px rgba(242, 120, 92, 0.16);
    border-radius: 16px;
    position: relative;
    width: 100px;
    height: 100px;
    left: 30px;
    top: calc(50% - 100px/2);
}

.steps__cards-pic-2{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 24px 24px 24px 24px;
    gap: 10px;
    background: #F2785C;
    box-shadow: 0px 0px 3px rgba(242, 120, 92, 0.08), 0px 2px 3px rgba(242, 120, 92, 0.16);
    border-radius: 16px;
    position: relative;
    width: 100px;
    height: 100px;
    left: -30px;
    top: calc(50% - 100px/2);
}

.steps__cards-pic-3{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 28px 20px 27px 20px;
    gap: 10px;
    background: #F2785C;
    box-shadow: 0px 0px 3px rgba(242, 120, 92, 0.08), 0px 2px 3px rgba(242, 120, 92, 0.16);
    border-radius: 16px;
    position: relative;
    width: 100px;
    height: 100px;
    left: -60px;
    top: calc(50% - 100px/2);
}

.steps__cards-desc-1{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 247px;
    height: 24px;
    left: -151px;
    top: 140px;
    font-family: 'Aleo';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #0D606F;
}

.steps__cards-desc-2{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 222px;
    height: 24px;
    left: -191px;
    top: 140px;
    font-family: 'Aleo';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #0D606F;
}

.steps__cards-desc-3{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 317px;
    height: 24px;
    left: -271px;
    top: 140px;
    font-family: 'Aleo';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #0D606F;
}

/* Steps styles end */

/* Popular styles start */

.destinations{
    max-width: 1288px;
    background-color: #FFFFFF;
    margin: 0 auto;
}

.popular__wrap{
    max-width: 1288px;
    margin: 0 auto;
    width: 1288px;
    height: 247px;
    margin-left: 131px;
    top: 90px;
    position: relative;
}

.popular__title{
    position: absolute;
    width: 501px;
    height: 53px;
    margin-left: 300px;
    top: 219px;
    font-family: 'Red Hat Text';
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 53px;
    color: #F2785C;
}

.destination {
    top: 117px;
    position: relative;
    width: 860px;
    height: 800px;
    margin: 0 auto;
    left: -650px;
    right: -650px;
    display: flex;
    overflow: hidden;
    flex-direction: column;
    justify-content: space-between;
}

.destinations__pics{
    position: relative;
    width: 60px;
    top: 46px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 0 60px;
    position: relative;
}

.destinations__pics-thumb{
    height: 800px;
    width: 800px;
    border-radius: 16px;
}

.destinations__item-title {
    position: absolute;
    font-family: 'Red Hat Text';
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 42px;
    color: #FFFFFF;
    padding: 700px 0 0 50px;
    left: -30px;
    bottom: 40px;
}

.ellipse{
    width: 99px;
    height: 20px;
    margin-left: auto;
    margin-right: auto;
}

.ellipse-pics{
    top: 97px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 0 10px;
    position: relative;
    flex-basis:100%
}

.ellipse-thumb{
    display: block;
    display: block;
    max-width: 20px;
    max-height: 20px;
    width: auto;
    height: auto;
}

.find-more__submit{
    display:inline-block;
    top: 240px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 32px;
    gap: 10px;
    background: #0D606F;
    box-shadow: 0px 0px 3px rgba(13, 96, 111, 0.08), 0px 2px 3px rgba(13, 96, 111, 0.16);
    border-radius: 10px;
    position: relative;
    height: 58px;
    width: 228px;
    left: 551px;
    font-family: 'Red Hat Text';
    font-style: normal;
    font-weight: 500;
    font-size: 26px;
    line-height: 32px;
    color: #FFFFFF;
    z-index: 1;
}

.find-more__submit:hover, .find-more__submit:focus, .find-more__submit:active{
    background: #022c33;
}



/* Popular styles end */

/* Stories styles start */

.stories__wrap{
    max-width: 1440px;
    margin: 0 auto;
    width: 1288px;
    height: 247px;
    margin-left: 281px;
    top: 90px;
    position: relative;
}

.stories__title{
    position: absolute;
    width: 501px;
    height: 53px;
    margin-left: 300px;
    top: 219px;
    font-family: 'Red Hat Text';
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 53px;
    color: #F2785C;
}

.stories-place{
    top: 180px;
    background-color: rgba(255, 255, 255, 0.7);
    margin: 0 auto;
    left: 0px;
    position: relative;
    width: 105%;
}

.stories-table{
    width: 1440px;
    margin-left: auto;
    margin-right: auto;
    border-collapse: separate;
    border-spacing: 30px 40px;
}

.stories-head{
    position: relative;
    width: 335px;
    height: 53px;
    left: 462px;
    top: -80px;
    font-family: 'Red Hat Text';
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 53px;
    color: #F2785C;
}

.stories-pics{
    position: arelative;
    width: 400px;
    height: 250px;
    filter: drop-shadow(0px 4px 4px #0D606F);
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    border-radius: 16px;
}

.stories-text__headline{
    position: relative;
    width: 820px;
    height: 42px;
    left: 0px;
    font-family: 'Aleo';
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 42px;
    color: #0D606F;
}

.stories-text__usual{
    position: relative;
    width: 820px;
    height: 184px;
    left: 0px;
    top: 0px;
    font-family: 'Aleo';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #0D606F;
}

.stories-readmore{
    text-decoration: underline
}

.see-more__submit{
    display:inline-block;
    top: 0px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 32px;
    gap: 10px;
    background: #0D606F;
    box-shadow: 0px 0px 3px rgba(13, 96, 111, 0.08), 0px 2px 3px rgba(13, 96, 111, 0.16);
    border-radius: 10px;
    position: relative;
    height: 59px;
    width: 228px;
    left: 528px;
    font-family: 'Red Hat Text';
    font-style: normal;
    font-weight: 500;
    font-size: 26px;
    line-height: 32px;
    color: #FFFFFF;
}

.see-more__submit:hover, .see-more__submit:focus, .see-more__submit:active{
    background: #022c33;
}

/* Stories styles end */


/* footer styles start */

.travel-footer{
    top: 400px;
    margin: 0 auto;
    left: 100px;
    position: relative;
    max-width: 1440px;
}

.footer-signs{
    width: 1440px;
    margin-left: auto;
    margin-right: auto;
    border-collapse: separate;
    border-spacing: 30px 40px;
    height: 34px;
}

.copyright {
    padding-top: 16px;
    font-size: 18px;
    color: #fff;
}
 
.git {
    background-image: url(../img/png/github.png);
    background-size: 50px 50px;
    background-repeat: no-repeat;
    margin-left: 20px;
    padding-top: 12px;
    padding-left: 60px;
}
 
.git a {
    color: #fff;
    font-size: 26px;
    text-decoration: none;
}

.rs-school img {
    height: 50px;
}

/* footer styles end */